html,
        body {
            padding: 0;
            margin: 0;
            height: 100vh;
        }

        body {
            display: grid;
            align-items: center;
            justify-content: center;
        }

        section {
            width: 400px;

        }

        div {
            height: 100px;
            width: 100px;
            overflow: hidden;
            background-color: green;
            border: 5px solid red;
            display: inline-block;
        }

        /* 
        #blank {
            opacity: 0;
        } */